<div class="secret">

  <h2>This one is a secret</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quo voluptatibus odio maxime. Ipsa eius, quis nulla qui optio architecto illo, adipisci nam provident. Voluptatibus, neque similique excepturi. Cumque perferendis esse, incidunt nihil in fugiat exercitationem voluptatem voluptates doloribus quas veniam enim aliquam beatae minima aspernatur numquam ducimus similique quaerat sed. Repellendus beatae mollitia cupiditate necessitatibus dolor placeat! Non sint tempore officiis dolor nesciunt libero facilis similique porro ea nobis quis repellat enim, molestias optio. Voluptas, corrupti vero eius, ipsa eaque maiores sint! Soluta accusantium vero quod, quam tempora et sunt similique excepturi quia ea expedita dolor, consequuntur maxime! Nemo.
  </p>

</div>